@import '../../variables';
.button {
    width: 278px;
    background-color: $yellow;
    color: black;
    text-transform: capitalize;
    height: 52px;
    font-size: 17px;
    border-radius: 10px;
    border: none;
    font-weight: normal;
    cursor: pointer;
    @media screen and (max-width: 600px) {
        width: 180px;
        height: 40px;
    }
}
