@import '../../variables';
.bg {
    background-image: url('./imgs/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    .container {
        max-width: 1190px;
        padding: 0 20px;
        margin: 0 auto;
        .formDivision {
            padding: 50px 0;
            color: #fff;
            width: 50%;
            @media screen and (max-width: 992px) { width: 70%; }
            @media screen and (max-width: 600px) {
                width: 100% ;
                margin: 0 auto;
                p { width: 90%;}
                h1 { font-size: 24px; }
            }
            h1 {
                margin: 0;
                font-size: $hfontsize;
                font-weight: 900;
                text-transform: uppercase;
            }
            .formStyles {
                display: flex;
                flex-direction: column;
                justify-content: left;
                input:not(.inputException) {
                    color: darkgray;
                    padding-left: 20px;
                    margin-top: 20px;
                    width: 500px;
                    height: 40px;
                    border-radius: 10px;
                    border: none;
                    @media screen and (max-width: 992px) { width: 100%; }
                    @media screen and (max-width: 600px) { width: 90%; }
                    
                }
                .checkboxStyles {
                    margin: 7px 0;
                    display: flex;
                    align-items: flex-start;
                    label {
                        margin-left: 5px;
                        color: #fff;
                    }
                    .inputException {
                        cursor: pointer;
                    }
                }                
            }
        }
    }
}